AWS_REGION_NAME=us
AWS_ACCESS_KEY_ID=
AWS_SECRET_KEY=
AWS_S3_BUCKET_NAME=
ZEPTO_API_KEY=
REDIS_HOST=localhost
PUBLIC_API_URL=http://localhost:8000
UNSUBSCRIBE_SECRET=
BUSINESS_NAME=Rooli
BUSINESS_COPYRIGHT=© 2026 Rooli — A Cresthub Media Limited Company. All rights reserved.
BUSINESS_ADDRESS=
BUSINESS_CONTACT_EMAIL=marketing@roolimarketing.xyz
BUSINESS_WEBSITE_URL=https://rooli.co/
